.contact {
    position: absolute;
    padding: 0;
    width: 57%;
    top: 78px;
    left: 300px;
    color: #fff;
}

.contact > .header {
    position: relative;
    width: 324px;
    padding: 5px 18px;
    background-color: rgba(231, 76, 60,0.8);
    line-height: 10px;
}

.contact > .header > p {
    font-size: 0.89em;
}

.contact > .pure-form {
    position: relative;
    top: 40px;
    width: 500px;
    padding: 26px 32px 58px 32px;
    background-color: rgba(231, 76, 60,0.8);
}

.contact > .pure-form > .input {
    display: block;
    height: 44px;
    margin-bottom: 18px;
    border-radius: 0px; 
}

.contact > .pure-form > textarea.input {
    height: 180px;
}

.contact > .pure-form > button.input {
    background-color: #111;
    color: #fff;
    font-weight: 600;
    width: 80px;
    float: right;
}