.contact {
    position: absolute;
    width: 380px;
    top: 128px;
    left: 300px;
    background-color: rgba(231,76,60, 0.86);
    padding-right: 16px;
    padding-left: 24px;
    color: #ecf0f1;
}

.contact > form > h2 {
    margin-bottom: 0px;
}
.contact > form > .description {
    font-size: 0.8em;
}

.contact > form > .container > label {
    font-size: 1em;
    font-weight: bold;
}

.contact > form > .container > input[type="text"] {
    font-size: 0.89em;
    width: 350px;
}

.contact > form > .container > textarea {
    font-family: inherit;
    font-size: 0.89em;
    width: 350px;
    height: 200px;
}