.contact {
    position: absolute;
    top: 96px;
    left: 300px;
    width: 60%;
    padding: 30px;
    background-color: rgba(1, 1, 1,0.7);
    color: #fff;
}

.contact > .header {
    line-height: 10px;
}

.contact h2 {
    margin-top: 0px;
}

form.pure-form > .pure-input-1-2 {
    width: 48.8%;
    height: 44px;
    margin-bottom: 14px;
    border-radius: 0px; 
}

form.pure-form > .pure-input-1 {
    height: 44px;
    margin-bottom: 14px;
    border-radius: 0px; 
}

form.pureform {
    margin-top: 30px;
}

form.pure-form > select > option {
    padding: 10px 0 0 16px;
    height: 30px;
}

form.pure-form > textarea.pure-input-1 {
    height: 180px;
    border-radius: 0px;
    margin-bottom: 20px;
}

form.pure-form > button {
    border-radius: 0px;
}

form.pure-form > .right {
    float: right;
}

@media (max-width: 1150px) {
    .contact > .pure-form > .pure-input-1-2 {
        width: 100%;
    }
}