.contact {
    position: absolute;
    padding: 0;
    top: 78px;
    left: 300px;
}

.contact > .header {
    width: 310px;
    padding: 8px 0px 16px 32px;
    background-color: rgba(231, 76, 60,0.8);
    line-height: 10px;
    color: #fff;
}

.contact > form {
    position: relative;
    top: 40px;
    width: 500px;
    padding: 26px 32px 48px 32px;
    background-color: rgba(231, 76, 60,0.8);
}

.contact > form > .input {
    display: block;
    height: 44px;
    margin-bottom: 14px;
    border-radius: 0px; 
}

.contact > form > select.input > option {
    padding: 10px 0 0 16px;
    height: 30px;
}

.contact > form > textarea.input {
    height: 180px;
}

.contact > form > div {
    color: #fff;
    float: right;
}

.contact > form > div > button {
    background-color: #111;
    color: #fff;
    font-weight: 600;
    width: 80px;
    float: right;
}