.menulist {
    position: absolute;
/*    margin-top: 60px;
    margin-left: 285px;*/
    top: 88px;
    left: 200px;
    list-style: none;
    width: 73%;
    height: 68%;
}

.dish {
    position: relative;
    height: 100%; 
    display: inline-block;
    margin-left: -37%;
}

/*index for img position*/
.item1 { z-index: 3; margin-left: 0%;}
.item2 { z-index: 2;}
.item3 { z-index: 1;}
.item4 { z-index: 0;}
/*end*/

.dish > img { 
    height: 100%; 
    width: 100%;
    background-color: rgba(83,119,122,0.08);
    background-repeat: no-repeat;    
    -webkit-box-shadow: 0 0 15px rgba(230,230,230,0.4);
       -moz-box-shadow: 0 0 15px rgba(230,230,230,0.4);
            box-shadow: 0 0 15px rgba(230,230,230,0.4);
}

.dish > .text-under {
    display: none;
}

/*start menu2.html + menu3.html*/
.menulist2 {
    position: relative;
    top: 98px;
    left: 258px;
    width: 80%;
    height: 78%;
}

.menulist2 > .column {
    position: relative;
    margin-bottom: -25px;
    margin-right: -25px;
    height: 100%;
    display: inline-block;
    list-style: none;        
}

.dish2 {
    position: relative;
    margin-bottom: 13px;
    width: 495px;
    height: 30%;     
}

.bg1 { background-color: rgba(153,23,60,0.8);}
.bg2 { background-color: rgba(66,66,66,0.8);}
.bg3 { background-color: rgba(59,129,131,0.8);}
.bg4 { background-color: rgba(81,149,72,0.8);}


.dish2 > img { 
    float: right;
    position: inherit;   
    top: 12.5%;
    left: 50px;
    height: 77%;
    background-repeat: no-repeat;
    background-size: 100%;
}

.dish2 > .text-left {    
    position: inherit;
    top: 10.5%;
    left: 30px;
    color: #fff;
}

.dish2 > .text-left > div {
    display: inline-block;
    font-size: 1.2em;
    font-weight: 700;
}

.dish2 > .text-left > span {
    float: left;
    position: inherit;    
    margin-top: 5%;
    font-size: 0.89em;
    font-weight: 500; 
    text-align: justify;
}
/*end*/


/*only menu3*/
.menulist3 {
    top: 20px;
}

.menulist3 > .column3 {
    margin-right: -17px;
    margin-bottom: -5px;
}

.dish3 {
    height: 47%;
    margin-bottom: 4%;
    width: 480px;
}

.dish3 > img {
    z-index: 0;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    -webkit-box-shadow: 0 0 18px rgba(255,255,255,0.3);
       -moz-box-shadow: 0 0 18px rgba(255,255,255,0.3);
            box-shadow: 0 0 18px rgba(255,255,255,0.3);
}

.dish3 > .text-under {
    z-index: 1;
    position: relative;
    bottom: -100%;
    width: 100%;
    height: 30%;
    color: #fff;
    letter-spacing: 0;
}

.dish3 > .text-under > div {
    margin-top: 1.05%;
    margin-left: 9%;
    width: 25%;
    height: 50%;
    display: inline-block;
    font-size: 1.2em;
    font-weight: 700;
}

.dish3 > .text-under > p {
    position: inherit;    
    margin-top: -1.7%;
    left: 9%;
    width: 80%;
    font-size: 0.89em;
    font-weight: 500; 
    line-height: 14px;
    text-align: justify;
    display: inline-block;
}
/*end*/
