.content.right.reservepage {
	background-color: rgba(1,1,1,0.8);
	width: 60%;
	color: #fff;
	left: 26%;
}

.maincontainer {
	position: relative;
	margin: 0;
	padding: 0 38px 96px 8%;	
}

h2.header,.contactus > h2 {
	position: relative;
	top: 15px;
	font-weight: bold;
}

.reserve {
	position: relative;
	width: 264px;
	margin: 0;
	display: inline-block;
}

.reserve > p {
	position: inherit;
	top: 38px;
}

.reserve > form.pure-form {
	position: relative;
	top: 34px;
	width: 100;
}

.reserve > form.pure-form > input {
	padding-left: 50px;
	display: block;
}

.reserve > form.pure-form > textarea {
	height: 140px;
}

.reserve > form.pure-form > button {
	margin-top: 10px;
	height: 40px;
	display: block;
}

div.number-list {
	position: absolute;
	left: 0;
	margin-top: 44px;
	padding: 2px 10px 8px 10px;
	width: 264px;
	box-shadow: 0px 5px 15px -5px rgba(0, 0, 0, 0.506);
	background: #FFFFFF;
	border: 1px solid #cccccc;
	color: #333333;
	display: block;
	font-family: "Open Sans", "Helvetica Neue", "Helvetica", "Arial", sans-serif;
	z-index: 9999;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
	text-align: justify;
	display: none;
}

div.number-list > ul {
	margin-top: 5px;
	margin-bottom: 5px;
	padding: 0;
	border-top: solid 1px #dddddd;
	border-left: solid 1px #cccccc;
	border-right: solid 1px #cccccc;
	list-style: none;
}

div.number-list > ul > li {
	padding-top: 4px;
	padding-bottom: 4px;
	border-bottom: solid 1px #dddddd;
	border-left: solid 1px #dddddd;
	border-right: solid 1px #dddddd;
	background: #F5F5F5;
	font-size: 0.9em;
	text-align: center;
	cursor: pointer;
	color: #333333;
}

div.number-list > ul > li:hover,
div.time > ul > li.inactive:hover,
div.people > ul > li.inactive:hover {
	background: #aab7b7;
	color: #ffffff;
}

div.time, div.people {
	display: none;
}

div.time > ul {
	height: 160px;
	overflow: auto;
}

div.time > ul > li.active, div.people > ul > li.active { 
	background: #33AAFF;
	color: #ffffff;
}

div.time > ul > li.inactive, div.people > ul > li.inactive {
	background: #F5F5F5;
	color: #333333;
}

.contactus {
	position: absolute;
	top: 0;
	right: 14%;
	width: 36%;
	height: 100%;
}

.contactus > h2 {
	margin-bottom: 44px;
}

.contactus > h4 {
	position: relative;
	top: 14px;
} 

.contactus > p > a {
	text-decoration: none;
	color: #fff;
	border-bottom: 1px dotted #0078e7;
}

.contactus > p > a:hover {
	color: #0078e7;
}

#msg {
	position: absolute;
	left: 8%;
	bottom: 18px;
	font-weight: 600;
}

#reservedate {
	background: #fff url('../img/calendar.png') no-repeat 10px center;
}

#time {
	background: #fff url('../img/clock.png') no-repeat 10px center;
}

#people {
	background: #fff url('../img/people.png') no-repeat 10px center;
}

@media (max-width: 1150px) {
    .content.right.reservepage {
    	left: 290px;
    }

    .contactus {
    	right: 6%;
    }
}