<div class="contact">

    <div class="header">
        <h2>CONTACT US</h2>
        <p>Use the form below to send us your comments.</p>
    </div>

    <form method="post" class="pure-form" autocomplete="off">
        <input class="pure-input-1 input" type="text" name="name" placeholder="Name">

        <input class="pure-input-1 input" type="email" name="email" placeholder="Email">

        <select class="pure-input-1 input" name="type">
            <option value="0">Contact</option>
            <option value="1">Feedback</option>
        </select>

        <input class="pure-input-1 input" type="text" name="subject" placeholder="Subject">

        <textarea class="pure-input-1 input" name="comment" placeholder="Your comments"></textarea>
        
        <button class="pure-button input" ng-click="post()">Send</button>
    </form>

</div>