<div class="animated fadeInDown content right contact">

    <div class="header">
        <h2>CONTACT US</h2>
        <p>If you have any comments, sunggestion, ideas, requests you'd like to share with us, we'd love to hear from you.</p>
        <p>Email us <a href="mailto:restaurant@lachotel.com">restaurant@lachotel.com</a>
        <br/>Or complete the form below.</p>
    </div>

    <form class="pure-form pure-form-stacked" autocomplete="off" ng-submit="post()">

        <input class="pure-input-1" type="text" name="name" placeholder="Your name" ng-model="contact.name">

        <input class="pure-input-1" type="email" name="email" placeholder="Email" ng-model="contact.email">

        <select class="pure-input-1" name="type" ng-model="contact.type">
            <option value="0">Contact</option>
            <option value="1">Feedback</option>
        </select>

        <input class="pure-input-1" type="text" name="subject" placeholder="Subject" ng-model="contact.subject">

        <textarea class="pure-input-1" name="comment" placeholder="Your comments" ng-model="contact.comment"></textarea>

        <button class="pure-button pure-button-primary" type="submit">Send us your comments</button>
    </form>

    <div class="msg">
    <strong ng-repeat="message in msg"><% message %></strong>
    </div>

</div>