<div id="menu">

<div id="date" class="animated fadeIn menu-date">
	<i class="fa fa-angle-left" ng-click="previousday()"></i> 
	<span><%date%></span>
	<i class="fa fa-angle-right" ng-click="nextday()"></i>
</div>

<div class="content right menu pure-g">	
	<div class="pure-u-1-2" ng-repeat="dish in dishes">
		<div class="animated fadeIn dish">
			<div class="img-wrapper">
				<img src="<% dish.dish_images[0].link %>" />
			</div>

			<div class="description">
				<div class="head">
					<p><% dish.name %></p>
					<small>$<% dish.price %></small>
				</div>
				
				<div class="body">
					<p><% dish.description %></p>
				</div>
			</div>

		</div>
	</div>
</div>

</div>