<div id="menubar" class="animated fadeInLeft sidebar">

    <ul class="nav">
        <li class="logo"><a href="#"></a></li>
        <li class="hover-red"><a href="#">ABOUT US</a></li>
        <li class="hover-blue"><a href="news">NEWS</a></li>
        <li class="hover-pink"><a href="menu">SPECIAL DAILY</a></li>
        <li class="hover-yellow"><a href="reserve">RESERVE</a></li>
        <li class="hover-turquoise"><a href="contact">CONTACT</a></li>
        <li class="sep hover-green"><a href="#">FACEBOOK</a></li>
        <li class="hover-violet"><a href="#">TWITTER</a></li>
    </ul>

</div>