<ul class="menulist">

<li class="dish" id="dish1">
	<div class="text-left">
		<div class="dishname">BURGUR</div><div style="float: right;">60 EUR</div>
		<span id="textimg1">Neque molestiae nobis ex sint incidunt animi. Ipsa eum repellat quisquam quasi dolorem sapiente porro repellat. Praesentium non enim quod corrupti maxime impedit illum. </span>
	</div>
	<div class="image-right" id="image1"></div>			
</li>

<li class="dish" id="dish2">
	<div class="text-left">
		<div class="dishname">PANCAKE</div><div style="float: right;">30 EUR</div>
		<span id="textimg2">Neque molestiae nobis ex sint incidunt animi. Ipsa eum repellat quisquam quasi dolorem sapiente porro repellat. Praesentium non enim quod corrupti maxime impedit illum. </span>
	</div>
	<div class="image-right" id="image2"></div>			
</li>

<li class="dish" id="dish3">
	<div class="text-left">
		<div class="dishname">FRUIT MIX</div><div style="float: right;">50 EUR</div>
		<span id="textimg3">Neque molestiae nobis ex sint incidunt animi. Ipsa eum repellat quisquam quasi dolorem sapiente porro repellat. Praesentium non enim quod corrupti maxime impedit illum. </span>
	</div>
	<div class="image-right" id="image3"></div>			
</li>

</ul>

