<div id="menubar" class="sidebar">

    <ul class="nav">
        <li class="animated fadeInLeft logo"><a href="#"></a></li>
        <li class="animated fadeInLeft hover-red"><a href="#">ABOUT US</a></li>
        <li class="animated fadeInLeft hover-blue"><a href="#">NEWS</a></li>
        <li class="animated fadeInLeft hover-pink"><a href="#">TODAY MENU</a></li>
        <li class="animated fadeInLeft hover-yellow"><a href="#">RESERVE</a></li>
        <li class="animated fadeInLeft sep hover-green"><a href="#">FACEBOOK</a></li>
        <li class="animated fadeInLeft hover-violet"><a href="#">TWITTER</a></li>
    </ul>

</div>