<div class="animated fadeInDown content right reservepage">
	<div class="maincontainer">

		<div class="reserve">
			<h2 class="header">BOOK A TABLE</h2>
			<p>Select your date, time and number of people</p>

			<form class="pure-form pure-g" autocomplete="off" ng-submit="post()">

		        <input id="reservedate" class="pure-input-1" type="text" ng-model="reservation.datadate">

		        <input id="time" class="pure-input-1" type="text" ng-model="reservation.time">
		        <div class="time number-list pure-u-1">	
		        	<ul>
		        	</ul>		        	
		        </div>

		        <input id="people" class="pure-input-1" type="text" ng-model="reservation.numbers">
		        <div class="people number-list pure-u-1">		
		        	<ul>
		        		<li>1 Person</li>
		        		<li class="active">2 People</li>
		        		<li>3 People</li>
		        		<li>4 People</li>
		        	</ul>		        	
		        	<br />
		        	<small>If you want to reserve for more than 4 people, please type numbers in the above box.</small>
		        </div>
		        
		        <textarea class="pure-input-1" placeholder="Requirements" ng-model="reservation.requirements"></textarea>

		        <button class="pure-button pure-button-primary pure-u-1-3" type="submit">Reserve</button>
		    </form>
		</div>

		<div class="contactus">	
	    	<h2>CONTACT US</h2>

	    	<h4>LAC RESTAURANT</h4>
	    	<p>Ylioppilaantie 4
	    	<br/>90130 Oulu, Finland</p>

	    	<h4>CALL US</h4>
	    	<p>0123456789</p>

	    	<h4>EMAIL US</h4>
	    	<p><a href="mailto:restaurant@lachotel.com">restaurant@lachotel.com</a></p>

	    	<h4>OPEN TIMES</h4>
	    	<p>Mon - Sun 8:00 - 21:00</p>
	    	
    		<p>You can make the reservations online with the left form or contact us by phone and email.</p>
		</div>

	</div>

	<strong id="msg"><% msg %></strong>
</div>